html {
  scrollbar-gutter: stable;
}
body {
  font-family: "IBM Plex Mono", monospace;
  color: #fafbfb;
  background-color: #252935;
  height: 100%;
}
.main-body {
  margin: auto;
  margin-top: 0;
  max-width: 700px;
  width: 100%;
  padding: 2rem;
}
.modal-active {
  overflow-y: hidden;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 0;
  & span {
    color: #fafbfbd3;
  }
  & button {
    background-color: #252935;
    color: #fafbfb;
    border-style: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0;
  }
}
#add-note:hover {
  color: #a8a8a8;
}
.notes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 1rem;
  padding: 1.2rem;
  border: 2px solid #fafbfb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h2{
    margin-bottom: 0.5rem;
  }
  & p {
    margin-top: 0;
    color: #fafbfbd5;
    font-size: 16px;
  }
}
.note-details {
  max-width: 500px;
}

.note-manage-buttons button {
  font-family: "IBM Plex Mono", monospace;
  border-style: none;
  color: white;
  background-color: #252935;
  cursor: pointer;
}
.edit-btn:hover {
  color: #a8a8a8;
}
.delete-btn:hover {
  color: #FF4C4C;
}
